<div class="navigation {{ active ? 'navigation_active' : '' }}">

  <div class="links">
    <div *ngIf="loaded">

      <app-link
        [link]     = "navigation.brand"
        [language] = "language.default"
        (onClick)  = "selectLink(navigation.brand)"
      ></app-link>

      <app-link
        *ngFor     = "let link of navigation.links"
        [link]     = "link"
        [language] = "language.default"
        (onClick)  = "selectLink(link)"
      ></app-link>

    </div>
  </div>

  <div class="header">

    <app-language
      [language]         = "language"
      (onSelectLanguage) = "selectLanguageEv($event)"
    ></app-language>

    <div class="flex"></div>

    <!-- App Logo -->
    <a class="brand" *ngIf="loaded" (click)="selectLink(navigation.brand)" routerLink="{{ navigation.brand.url }}" tabindex="0">
      <span class="brand_title">{{ i18n(navigation.brand, 'title') }}</span>
    </a>

    <div class="flex"></div>

    <app-hamburger
      [active]  = "active"
      (onClick) = "toggleNavigation()"
    ></app-hamburger>

  </div>

</div>
