<div class="layout-row languages" *ngIf="loaded">

  <div class="language">

    <img
      src     = "{{ languages.active.icon }}"
      title   = "{{ i18n(languages.active, 'title') }}"
      alt     = "..."
      (click) = "toggleMenu()"
    />

  </div>

  <div class="layout-row languages_list {{ active ? 'active' : '' }}">

      <div class="language" *ngFor="let language of languages.list; let i = index">

        <img
          src     = "{{ language.icon }}"
          title   = "{{ i18n(language, 'title') }}"
          alt     = "..."
          (click) = "selectLanguage(i)"
        />

      </div>

  </div>

</div>
