.language {
  position: relative;
  width: 150px;
  height: 50px;
  background: #369;

  .icon {
    margin: 5px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    display: flex;
    cursor: pointer;

    img {
      margin: auto;
      height: auto;
      width: 30px;
    }
  }
  &_available {
    position: fixed;
    top: 50px;
    left: 0;
    width: 50px;
    height: calc(100% - 50px);
    border-right: 1px solid #369;
    background: #D8E3ED;
    will-change: transform;
    transform: translateX(-100%);
    transition: transform 100ms ease-out;
  }
  .active {
    transform: translateX(0);
  }
}
