.app {
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  width: 100%;
  background: #fff;

  div {
    width: 100%;
    height: auto;
    will-change: transform;
    transform: translateZ(0);
  }
}
