.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #000;
  z-index: 300;

  &_active {

    .header {

      &__brand::before {
        flex: 1;
      }
      &__menu_btn {

        span:nth-child(1) {
          top: 18px;
          transform: rotate(-135deg) translateZ(0);
        }
        span:nth-child(2) {
          opacity: 0;
          left: 60px;
        }
        span:nth-child(3) {
          top: 18px;
          transform: rotate(135deg) translateZ(0);
        }
      }
    }
    .links {
      transform: translate3d(0, 0, 0);

      > div {
        opacity: 1;
        transition: opacity 150ms ease-in;
        transition-delay: 150ms;
      }
    }
  }
}

.content {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  will-change: transform;
  transform: translateZ(0);
}

.header {
  position: relative;
  display: flex;
  height: 50px;
  overflow: hidden;
  will-change: transform;
  transform: translateZ(0);
  z-index: 300;
  transition: flex 100ms;
  background: #000;
  box-shadow: 0 0 10px 2px #000;

  &__link {
    position: relative;
    display: flex;
    width: auto;
    cursor: pointer;

    &:hover {
      .header__link_title::after {
        transform: scaleX(1);
      }
    }
    &_title {
      position: relative;
      font-size: 24px;
      border-bottom: 1px solid #333;
      margin: auto;
      color: #fff;
      padding: 10px 0;
      text-align: center;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        transform: scaleX(0);
        transition: all 100ms ease-out;
      }
    }
    &_brand {

      @media(min-width: 601px) {
        .header__link_title {
          display: none;
        }
      }
    }
  }
  &__menu {
    width: 100px;
    cursor: pointer;

    &_btn {
      position: relative;
      margin: 5px 30px;
      height: 40px;
      width: 40px;
      will-change: transform;
      transform: rotate(0deg) translateZ(0);
      transition: all 300ms ease-in-out;

      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #fff;
        border-radius: 2px;
        opacity: 1;
        left: 0;
        will-change: transform;
        transform: rotate(0deg) translateZ(0);
        transition: 150ms ease-in-out;

        &:nth-child(1) {
          top: 8px;
        }
        &:nth-child(2) {
          top: 18px;
        }
        &:nth-child(3) {
          top: 28px;
        }
      }
    }
  }
  &__brand {
    display: flex;
    width: 100%;
    max-width: calc(100% - 200px);

    .header__link {
      max-width: calc(100% - 40px);

      &_title {
        border-bottom: 1px solid transparent;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &_img {
      position: relative;
      width: 100px;
      cursor: pointer;

      img {
        margin: 5px 30px;
        height: 40px;
        width: 40px;
      }
    }
    &::before {
      content: '';
      display: block;
      flex: 0;
      height: 100%;
      transition: flex 250ms;
    }
    &::after {
      content: '';
      display: block;
      flex: 1;
      height: 100%;
    }
    @media(max-width: 600px) {
      .header__link_title {
        display: none;
      }
    }
  }
}

.links {
  display: flex;
  position: fixed;
  width: 100%;
  height: calc(100% - 50px);
  top: 50px;
  background: #000;
  overflow-y: auto;
  overflow-x: hidden;
  color: #fff;
  will-change: transform;
  transform: translate3d(0, -100%, 0);
  -webkit-overflow-scrolling: touch;
  transition: transform 200ms ease-in-out;

  > div {
    margin: 100px auto;
    transition: opacity 100ms;
    opacity: 0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    transition: opacity 20ms ease-in;
    transition-delay: 0;

    @media(max-width: 600px) {
      margin: 20px auto;
    }
  }
}
