.home {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  will-change: transform;
  transform: translateZ(0);
  background-color: #fff;

  > div {
    padding: 20px;

    h1 {
      text-transform: uppercase;
    }
  }
}
