.navigation {
  position: relative;
  height: 50px;
  width: 100%;
  z-index: 300;

  .header {
    position: relative;
    display: flex;
    height: 50px;
    overflow: hidden;
    transition: flex 100ms;
    z-index: 600;
    background: #369;

    .navigation-title {
      position: relative;
      display: flex;
      max-width: calc(100% - 200px);
      padding-left: 100px;
      transition: opacity 200ms ease-out;
    
      > span {
        position: relative;
        margin: 0 auto;
        border-bottom: 1px solid transparent;
        transition: opacity 100ms ease-out;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 24px;
        padding: 10px 0;
        color: #fff;
    
        @media(max-width: 600px) {
          opacity: 0;
        }
      }
    }
  }
  .menu {
    display: flex;
    position: fixed;
    width: 100%;
    height: calc(100% - 100px);
    top: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    color: #fff;
    will-change: transform;
    transform: translate3d(0, -100%, 0);
    -webkit-overflow-scrolling: touch;
    transition: transform 200ms ease-in-out;
    background: #dee;
  
    > div {
      max-width: 600px;
      margin: auto;
      transition: opacity 100ms;
      opacity: 0;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      transition: opacity 10ms ease-in;
      transition-delay: 0;
    }
  }
  app-language {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    opacity: 0;
    will-change: transform;
    transform: translate3d(0, 100%, 0);
    transition: transform 100ms ease-out;
    transition-delay: 100ms;
  }
}

.active {

  .header .navigation-title {
    opacity: 0;
  }
  .menu {
    transform: translate3d(0, 0, 0);

    > div {
      opacity: 1;
      transition: opacity 150ms ease-in;
      transition-delay: 150ms;
    }
  }
  app-language {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
