/* GLOBAL STYLE (move to index.html after build...) */
/*
media
  mobile -> <= 600
  tablet -> 601-1024
  dektop -> > 1024

z-index
  page -> 500
  popup -> 400
  header -> 300
  content -> 200
  footer (active) -> 100
  slider -> 50
  footer (inactive) -> 0

*/
* a:hover, * a:active, * a:focus, a {
  text-decoration: none;
}
* :active, * :focus {
  outline: none !important;
}
body {
  margin: 0;
  overflow: hidden;
  font-family: 'Source Sans Pro', cursive;
}
h1 {
  line-height: 125%;
  font-size: 64px;
  margin: 80px 0;
  text-align: center;
  @media (max-width: 1024px) {
    font-size: 48px;
    margin: 50px 0;
  }
  @media (max-width: 600px) {
    font-size: 32px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 48px;
  line-height: 125%;
  margin: 40px 0;
  @media (max-width: 1024px) {
    font-size: 32px;
    margin: 30px 0;
  }
  @media (max-width: 600px) {
    font-size: 24px;
    margin: 10px 0;
  }
}
h3 {
  font-size: 32px;
  line-height: 100%;
  margin: 20px 0;
  @media (max-width: 1024px) {
    font-size: 24px;
    margin: 10px 0;
  }
  @media (max-width: 600px) {
    font-size: 20px;
    margin: 5px 0;
  }
}
p {
  line-height: 150%;
  text-align: justify;
  text-indent: 50px;
  font-size: 18px;
  margin: 5px 0;
  @media (max-width: 1024px) {
    font-size: 16px;
    text-indent: 20px;
  }
  @media (max-width: 600px) {
    font-size: 14px;
    margin: 0;
  }
}
.font-extra-light {
  font-weight: 200;
}
.font-regular {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-italic {
  font-weight: 400;
  font-style: italic;
}
.layout-row {
  display: flex;
  height: 100%;
}
.layout-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.layout-center {
  margin: auto;
}
.flex {
  flex: 1;
}

/* fonts (ExtraLight, Regular, SemiBold, Bold, Italic, BoldItalic) */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGJCDkYQxybH_Rl7Qv7ee2N4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGCVh0V6fR69OLaFLklYbiSk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlC2Q8seG17bfDXYR_jUsrzg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGFKFh1TDTPrUZWzVp6FtpG8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/M2Jd71oPJhLKp0zdtTvoM40tgx99jmYGv_xzYuwd1rU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/M2Jd71oPJhLKp0zdtTvoMxgy2Fsj5sj3EzlXpqVXRKo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
