h1 {
  line-height: 125%;
  font-size: 128px;
  margin: 100px 0;
  text-align: center;

  @media (max-width: 1024px) {
    font-size: 64px;
    margin: 50px 0;
  }
  @media (max-width: 600px) {
    font-size: 32px;
    margin: 25px 0;
  }
}
h2 {
  font-size: 48px;
  line-height: 125%;
  margin: 40px 0;

  @media (max-width: 1024px) {
    font-size: 32px;
    margin: 30px 0;
  }
  @media (max-width: 600px) {
    font-size: 24px;
    margin: 10px 0;
  }
}
h3 {
  font-size: 32px;
  line-height: 100%;
  margin: 20px 0;

  @media (max-width: 1024px) {
    font-size: 24px;
    margin: 10px 0;
  }
  @media (max-width: 600px) {
    font-size: 20px;
    margin: 5px 0;
  }
}
p {
  line-height: 150%;
  text-align: justify;
  text-indent: 50px;
  font-size: 18px;
  margin: 5px 0;

  @media (max-width: 1024px) {
    font-size: 16px;
    text-indent: 20px;
  }
  @media (max-width: 600px) {
    font-size: 14px;
    margin: 0;
  }
}

.layout-row {
  display: flex;
  height: 100%;
}
.layout-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.layout-center {
  margin: auto;
}
.flex {
  flex: 1;
}
