.link {
  position: relative;
  display: flex;
  width: 100%;
  cursor: pointer;

  &:hover {
    .link__title_txt::after {
      transform: translateZ(0) scaleX(1);
    }
  }
  &__icon {
    position: relative;
    width: 100px;
    height: 50px;

    &_img {
      margin: 5px 30px;
      height: 40px;
      width: 40px;
    }
  }
  &__title {
    position: relative;
    width: 100%;
    min-height: 50px;
    display: flex;

    &_txt {
      text-align: center;
      position: relative;
      border-bottom: 1px solid #eee;
      font-size: 24px;
      padding: 20px;
      color: #000;
      text-align: center;
      margin: 0 auto;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 2px;
        background: #021F3B;
        will-change: transform;
        transform: translateZ(0) scaleX(0);
        transition: all 100ms ease-out;
      }
    }
  }
}
